<ul class="main-nav nav navbar-nav">
  <li class="active"><a href="/">Home</a></li>
  <li><a href="../products/show">All</a></li>
  <% @cate.each do |navcategory| %>
  <li><a href=""><%= navcategory.category_name %></a></li>
  <% end %>
</ul>
