<ul class="main-nav nav navbar-nav">
  <li class="active"><a href="/">Home</a></li>
  <li><%= link_to "All", products_path %></li>
  <% @cate.each do |navcategory| %>
  <li><%= link_to "#{navcategory.category_name}", "../products/smartphone" %></li>
  <% end %>
</ul>

