<p id="notice"><%= notice %></p>

<p>
  <strong>Category name:</strong>
  <%= @category_pro.category_name %>
</p>

<%= link_to 'Edit', edit_category_pro_path(@category_pro) %> |
<%= link_to 'Back', category_pros_path %>
