<footer id="footer">
  <!-- top footer -->
  <div class="section">
    <!-- container -->
    <div class="container">
      <!-- row -->
      <div class="row">
        <div class="col-md-3 col-xs-6">
          <div class="footer">
            <h3 class="footer-title">About Us</h3>
            <p>Phone Store</p>
            <ul class="footer-links">
              <li><i class="fa fa-map-marker"></i>Floor 3, QTSC Building 1, QTSC, District 12, Ho Chi Minh city, Vietnam</li>
              <li><i class="fa fa-phone"></i>(+84.28)37155742</li>
              <li><i class="fa fa-envelope-o"></i>nguyenngoclam3298@gmail.com</li>
            </ul>
          </div>
        </div>
        <div class="col-md-3 col-xs-6">
          <div class="footer">
            <h3 class="footer-title">Categories</h3>
            <ul class="footer-links">
              <li>Laptops</li>
              <li>Smartphones</li>
              <li>Tablet</li>
            </ul>
          </div>
        </div>
        <div class="clearfix visible-xs"></div>
        <div class="col-md-3 col-xs-6">
          <div class="footer">
            <h3 class="footer-title">Information</h3>
            <ul class="footer-links">
              <li>About Us</li>
              <li>Contact Us</li>
              <li>Privacy Policy</li>
              <li>Orders and Returns</li>
              <li>Terms & Conditions</li>
            </ul>
          </div>
        </div>
        <div class="col-md-3 col-xs-6">
          <div class="footer">
            <h3 class="footer-title">Service</h3>
            <ul class="footer-links">
              <li>My Account</li>
              <li>View Cart</li>
              <li>Wishlist</li>
              <li>Track My Order</li>
              <li>Help</li>
            </ul>
          </div>
        </div>
      </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </div>
  <!-- /top footer -->
  <!-- bottom footer -->
  <div id="bottom-footer" class="section">
    <div class="container">
      <!-- row -->
      <div class="row">
        <div class="col-md-12 text-center">
          <ul class="footer-payments">
            <li><a href="#"><i class="fa fa-cc-visa"></i></a></li>
            <li><a href="#"><i class="fa fa-credit-card"></i></a></li>
            <li><a href="#"><i class="fa fa-cc-paypal"></i></a></li>
            <li><a href="#"><i class="fa fa-cc-mastercard"></i></a></li>
            <li><a href="#"><i class="fa fa-cc-discover"></i></a></li>
            <li><a href="#"><i class="fa fa-cc-amex"></i></a></li>
          </ul>
        </div>
      </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </div>
  <!-- /bottom footer -->
</footer>
